{% extends "base.html" %}
{% load static %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}
<div>
    <div>
      <div class="cf mt4 mh4">
          <div class="fl w-70">
            {% image page.logo max-600x150 as logo %}
            <img src="{{ logo.url }}" width="{{ logo.width }}" height="{{ logo.height }}" alt="Groundcover: news and solutions from the bottom up"/>
          </div>
          <div class="fl w-30 tr">
            <a href="https://www.paypal.com/donate/?cmd=_s-xclick&hosted_button_id=44BP4PSNVKWD4" class="ba bw1 pa2 br2 link dim gray black mr1" href="">Donate</a>
            <a class="ba bw1 pa2 br2 link dim gray black" href="">Subscribe</a>
        </div>
      </div>
      <nav class="mh4 mt2 bg-black white">
        <div class="tl pa2">
        {% for static_page in static_pages %}
          <a {% if forloop.last %} class="link dim white f6 f5-ns dib"
             {% else %}class="link dim white f6 f5-ns dib mr5"
             {% endif %} href="{{ static_page.url }}" title="{{ static_page.title }}">{{ static_page.title }}</a>
        {% endfor %}
        </div>
      </nav>
      <div class="ma4 w-70 fl">
          {% for news_page in news_pages %}
          <article class="pv4 bb b--black-10 ph3 ph0-l">
            <div class="flex flex-column flex-row-ns">
              <div class="w-100 w-60-ns pr3-ns order-2 order-1-ns">
                <h1 class="f3 mt0 lh-title"><a href="{{ news_page.url }}" class="link dim black ">{{ news_page.title }}</a></h1>
                <p class="f5 f4-l lh-copy">
                    {{ news_page.specific.lede }}
                </p>
              </div>
              <div class="pl3-ns order-1 order-2-ns mb4 mb0-ns w-100 w-60-ns">
                {% image news_page.specific.lead_image fill-450x330 class="ba" %}          
            </div>
            </div>
            <p class="f6 lh-copy gray mv0">By <span class="ttu">{{ news_page.specific.author }}</span></p>
            <time class="f6 db gray">Nov. 21, 2016</time>
          </article>
          {% endfor %}
        </div>
        <div class=" fl bg-light-gray">
            <div class="ma3 pl2 Sidebar">
                    <a class="twitter-timeline" data-width="250" data-height="800" href="https://twitter.com/Groundcovernews?ref_src=twsrc%5Etfw">Tweets by Groundcovernews</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
            </div>
        </div>
    </div>
</div>
{% endblock content %}
