{% extends 'home/base.html' %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block title %}Groundcover news{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'home/spread_with-sidebar_5-2col.css' %}">
    <link rel="stylesheet" href="{% static 'home/static_page.css' %}">
{% endblock %}

{% block content %}
{% include 'home/small-masthead.html' %}
<div class="spread">
    <div class="socials-search">
        {% include 'home/socials-search.html' %}
    </div>
    <div class="spread__body">
    </div>
    <div class="sidebar-bottom">
        {% include 'home/twitter-stuff.html' %}
    </div>
    </div>
</div>
{% endblock %}
