.archive-entry__image {
    background-color: lightgray;
    height: 14em;
    filter: drop-shadow(5px 5px 4px #AAAAAA)
}

.archive-entry {
    grid-column: span 2;
    display: grid;
    padding: 0.5em;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

@media (min-width: 60em) {
    .archive-entry:nth-child(6n-2) {
        grid-column: 2 / span 2;
    }
}

.archive-entry:nth-child(6n),
.archive-entry:nth-child(6n-1),
.archive-entry:nth-child(6n-2) {
    text-align: right;
}

.archive-entry:nth-child(6n) .archive-entry__image,
.archive-entry:nth-child(6n-1) .archive-entry__image,
.archive-entry:nth-child(6n-2) .archive-entry__image {
    order: 2;
    background-color: white;
}

.archive-entry:nth-child(1) {
    background-color: transparent;
}

.archive-entry:nth-child(1) .archive-entry__image {
    order: 0;
    background-color: lightgray;
}
